{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <title>Places</title>
</head>
<body>
<div id="app">
    <div class="ui stackable two column grid">
        <div class="four wide column">
            <h1 class="ui header">Place Journal</h1>
            <div id="main-controls">
                <button class="ui button" onclick="showAddForm()">Add Place</button>
                <button class="ui button" onclick="showTogoForm()">Add To Go</button>
            </div>
            <div id="add-form-container">
                <form class="ui form">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Name of location">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" name="address" placeholder="Type address or click on map">
                    </div>
                    <div class="field">
                        <label>Notes</label>
                        <textarea name="notes" rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>Last visit</label>
                        <input type="date" name="date">
                    </div>
                    <div class="field">
                        <label>Notes about last visit</label>
                        <textarea name=checkin_notes" rows="2"></textarea>
                    </div>
                    <input type="hidden" name="lat">
                    <input type="hidden" name="lng">
                    <input type="hidden" name="place_id">
                    <button class="ui primary button" onclick="submitAddForm(); return false;">Submit</button>
                    <button class="ui negative button" onclick="hideAddForm(); return false;">Cancel</button>
                </form>
            </div>
            <div id="add-togo-container">
                <form class="ui form">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Name of location">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" name="address" placeholder="Type address or click on map">
                    </div>
                    <div class="field">
                        <label>Notes</label>
                        <textarea name="notes" rows="2"></textarea>
                    </div>
                    <input type="hidden" name="lat">
                    <input type="hidden" name="lng">
                    <input type="hidden" name="place_id">
                    <button class="ui primary button" onclick="submitTogoForm(); return false;">Submit</button>
                    <button class="ui negative button" onclick="hideTogoForm(); return false;">Cancel</button>
                </form>
            </div>
            <div id='togo-card' class='ui centered card'>
                <div class='content'>
                    <div class='header'></div>
                    <div class="notes"></div>
                    <div class="meta">
                        <div class="address"></div>
                    </div>
                </div>
                <div class="ui bottom attached buttons">
                    <button class="ui primary button">Went!</button>
                    <button class="ui negative button" onclick="deleteToGo()">Delete</button>
                </div>
            </div>
            <div id="selected-container"></div>
            <div class="ui section divider"></div>
        </div>
        <div class="twelve wide column">
            <div id="map-container">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>

<script>
    var data = {
        places: {{ places | safe}},
        togos: {{ togos | safe }}
    };
    var state = {
        selected: null, // {type: 'togo' or 'place', i: index of places/markers[] that is selected}, null if nothing is selected
        add_place: false, // if the button has been pressed
        markers_changed: false, // if the data changed
        focus_lat_lng: null, // if focused on place, this is {lat: lat, lng: lmg}, else null
    };
    var ele = {
        selected_container: $('#selected-container'),
        geocoder: null,
        selected_card: null,
        togo_card: $('#togo-card'),
        map: null,
        markers: [],
        add_place_autocomplete: null,
        add_togo_autocomplete: null,
        add_form_container: $('#add-form-container'),
        add_togo_container: $('#add-togo-container'),
        focus_marker: null,
    };

    function init() {
        // initialize add place form
        ele.add_form_container.hide();
        ele.add_place_autocomplete = new google.maps.places.Autocomplete(
                ele.add_form_container.find('input[name=address]')[0]
        );
        ele.add_place_autocomplete.addListener('place_changed', function () {
            console.log('firing');
            var place = ele.add_place_autocomplete.getPlace();
            state.focus_lat_lng = {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
            };
            ele.add_form_container.find('input[name=lat]').val(state.focus_lat_lng.lat);
            ele.add_form_container.find('input[name=lng]').val(state.focus_lat_lng.lng);
            ele.add_form_container.find('input[name="place_id"]').val(place.place_id);
            update();
        });

        // initialize add togo form
        ele.add_togo_container.hide();
        ele.add_togo_autocomplete = new google.maps.places.Autocomplete(
                ele.add_togo_container.find('input[name=address]')[0]
        );
        ele.add_togo_autocomplete.addListener('place_changed', function () {
            var place = ele.add_togo_autocomplete.getPlace();
            state.focus_lat_lng = {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
            };
            ele.add_togo_container.find('input[name=lat]').val(state.focus_lat_lng.lat);
            ele.add_togo_container.find('input[name=lng]').val(state.focus_lat_lng.lng);
            ele.add_togo_container.find('input[name="place_id"]').val(place.place_id);
            update();
        });

        // initialize togo card
        ele.togo_card.hide();
    }

    function initMap() {
        navigator.geolocation.getCurrentPosition(function(position) {
            var cur_pos = {lat: position.coords.latitude, lng: position.coords.longitude};
            ele.map = new google.maps.Map(document.getElementById("map"), {
                center: cur_pos,
                zoom: 12
            });
            ele.geocoder = new google.maps.Geocoder;
            setupListeners();
            createMarkers();
        });
    }

    function setupListeners() {
        ele.map.addListener('click', function(e) {
            if (state.add_place || state.add_togo) {
                var form_container;
                if (state.add_place) form_container = ele.add_form_container;
                else form_container = ele.add_togo_container;

                ele.geocoder.geocode({'location': e.latLng}, function(results, status) {
                    if (status === 'OK') {
                        console.log(results[0]);
                        state.focus_lat_lng = results[0].geometry.location.toJSON();
                        form_container.find('input[name=address]').val(results[0].formatted_address);
                        form_container.find('input[name=lat]').val(state.focus_lat_lng.lat);
                        form_container.find('input[name=lng]').val(state.focus_lat_lng.lng);
                        form_container.find('input[name="place_id"]').val(results[0].place_id);
                        update();
                    }
                })
            }
            e.stop();
        });
    }

    function update() {
        ele.selected_container.empty();
        ele.togo_card.hide();

        ele.selected_card = null;
        ele.add_form_container.hide();
        ele.add_togo_container.hide();
        unfocusOnLatLng();

        if (state.focus_lat_lng) {
            focusOnLatLng();
        }

        if (state.add_place) {
            state.selected = null;
            ele.add_form_container.show();
        }

        if (state.add_togo) {
            state.selected = null;
            ele.add_togo_container.show();
        }

        if (state.selected !== null) {
            var sel_data;
            if (state.selected.type === 'place') {
                sel_data = data.places[state.selected.i].fields;
                createPlaceCard(sel_data.name, sel_data.address, sel_data.notes, ""); // TODO: add last visted field
            }

            else {
                sel_data = data.togos[state.selected.i].fields;
                createTogoCard(sel_data.name, sel_data.address, sel_data.notes);
            }

        }

        if (state.markers_changed) {
            updateMarkers();
            state.markers_changed = false;
        }

    }

    function updateMarkers() {
        removeMarkers();
        createMarkers();
    }

    function removeMarkers() {
        ele.markers.forEach(function(m) {
            m.setMap(null);
        });
        ele.markers = [];
    }

    function createMarkers() {
        data.places.forEach(function(d, i) {
            var new_marker = new google.maps.Marker({
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                position: {lat: parseFloat(d.fields.lat), lng: parseFloat(d.fields.lng)},
                title: d.fields.name,
                map: ele.map
            });
            new_marker.addListener('click', function() {
                state.selected = {type: 'place', i: i};
                update();
            });
            ele.markers.push(new_marker)
        });

        data.togos.forEach(function(d, i) {
            var new_marker = new google.maps.Marker({
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                position: {lat: parseFloat(d.fields.lat), lng: parseFloat(d.fields.lng)},
                title: d.fields.name,
                map: ele.map
            });
            new_marker.addListener('click', function() {
                state.selected = {type: 'togo', i:i};
                update();
            });
            ele.markers.push(new_marker)
        })
    }

    function deleteToGo(){
        var i = state.selected.i;
        var id = data.togos[i].pk;
        $.post('/delete/togo/', {id: id}, function(result) {
            console.log(result);
            if (result.status === 'OK') {
                data.togos.splice(i, 1);
                state.markers_changed = true;
                state.selected = null;
                update();
            }
        })
    }

    function createPlaceCard(name, address, notes, last_visited) {
        ele.selected_card = $("<div class='ui centered card'>" +
                    "<div class='content'>" +
                        "<div class='header'>" + name + "</div>" +
                        '<div class="notes">' + notes + '</div>' +
                        '<div class="meta">' +
                            '<div class="address">' + address + '</div>' +
                            '<div class="last-visit">Last visit: ' + last_visited + '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="ui bottom attached buttons">' +
                        '<button class="ui primary button">Check In</button>' +
                        '<button class="ui secondary button">View Log</button>' +
                        '<button class="ui negative button">Delete</button>' +
                    '</div>' +
                '</div>').appendTo(ele.selected_container);
    }

    function createTogoCard(name, address, notes) {
        console.log(name);
        ele.togo_card.find('.header').text(name);
        ele.togo_card.find('.address').text(address);
        ele.togo_card.find('.notes').text(notes);
        ele.togo_card.show();
    }

    function showAddForm() {
        state.add_togo = false;
        state.add_place = true;
        update();
    }

    function hideAddForm() {
        var inputs = ele.add_form_container.find('input');
        var textareas = ele.add_form_container.find('textarea');

        inputs.val('');
        textareas.val('');

        state.add_place = false;
        state.focus_lat_lng = null;
        update();
    }

    function submitAddForm() {
        var form = ele.add_form_container.find('.ui.form');
        form.form({
            fields: {
                name: 'empty',
                address: 'empty',
                date: 'empty'
            },
            onSuccess: createPlace
        });
        form.form('validate form');
    }

    function createPlace(e, place_data) {
        $.post(
                '/create/place/',
                place_data,
                function (result) {
                    console.log(result);
                    if (result.status === 'OK') {
                        data.places.push(result.place);
                        state.markers_changed = true;
                        state.add_place = false;
                        state.focus_lat_lng = null;
                        hideAddForm();
                        update();
                        // TODO: add in checkin data
                    }
                }
        )
    }

    function focusOnLatLng() {
        ele.focus_marker = new google.maps.Marker({
            position: {lat: state.focus_lat_lng.lat, lng: state.focus_lat_lng.lng},
            map: ele.map
        })
    }

    function unfocusOnLatLng() {
        if (ele.focus_marker) {
            ele.focus_marker.setMap(null);
            ele.focus_marker = null;
        }
    }

    function showTogoForm() {
        state.add_togo = true;
        state.add_place = false;
        update()
    }

    function hideTogoForm() {
        var inputs = ele.add_togo_container.find('input');
        var textareas = ele.add_togo_container.find('textarea');

        inputs.val('');
        textareas.val('');

        state.add_togo = false;
        state.focus_lat_lng = null;
        update();
    }

    function submitTogoForm() {
        var form = ele.add_togo_container.find('.ui.form');
        form.form({
            fields: {
                name: 'empty',
                address: 'empty',
            },
            onSuccess: createTogo
        });
        form.form('validate form');
    }

    function createTogo(e, togo_data) {
        $.post('/create/togo/', togo_data, function(result) {
            if (result.status === 'OK') {
                data.togos.push(result.place);
                state.markers_changed = true;
                state.add_togo = false;
                state.focus_lat_lng = null;
                hideTogoForm();
                update();
            }
        })
    }

    window.onload = init;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&libraries=places&callback=initMap"
        async defer></script>

</body>
</html>